@import url("https://fonts.googleapis.com/css?family=Cousine");
input, label {
  display: block; }

* {
  box-sizing: border-box; }

button {
  display: block;
  margin: 2rem; }

code {
  font-family: monospace;
  background: #EAEAEA;
  color: #222;
  padding: 0.15rem; }

.App {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  width: 100%;
  height: 99vh;
  background: #676767; }
  .App .main-viewer {
    flex: 1;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    height: 100vh;
    overflow: hidden; }
    .App .main-viewer form {
      width: 47%;
      color: #FFF;
      min-width: 500px;
      flex-basis: auto;
      /* default value */
      flex: 1;
      margin: 0; }
      .App .main-viewer form textarea {
        height: 75vh;
        margin: 1rem auto;
        width: 100%;
        overflow-x: hidden;
        display: block;
        margin: 1rem auto;
        font-size: 1rem;
        padding: 5px;
        font-family: 'Cousine', monospace;
        font-weight: 400; }
    .App .main-viewer #table-of-contents {
      background: #FFF;
      width: 20rem;
      height: 100vh; }
      .App .main-viewer #table-of-contents #contents {
        border: 1px solid #000;
        height: 80%;
        overflow: auto; }
        .App .main-viewer #table-of-contents #contents ul {
          list-style-type: none;
          padding: 0; }
          .App .main-viewer #table-of-contents #contents ul .padding-lvl-1 {
            padding-left: 0;
            font-size: 1.25rem; }
          .App .main-viewer #table-of-contents #contents ul .padding-lvl-2 {
            padding-left: .5rem;
            font-size: 1rem; }
          .App .main-viewer #table-of-contents #contents ul .padding-lvl-3 {
            padding-left: 1rem;
            font-size: .9rem;
            font-style: italic; }
            .App .main-viewer #table-of-contents #contents ul .padding-lvl-3::before {
              content: "- "; }
          .App .main-viewer #table-of-contents #contents ul li {
            display: block;
            margin: 1rem;
            color: black; }
  .App #notes-dir {
    width: 9%;
    margin: 0;
    min-width: 100px;
    overflow: auto;
    background: #222;
    color: white; }
    .App #notes-dir a {
      display: block;
      margin: .5rem;
      color: white; }
    .App #notes-dir #new-file-modal {
      position: fixed;
      left: 25%;
      width: 50%;
      z-index: 10;
      color: #000;
      background: white; }

hr {
  color: green;
  background-color: green;
  height: .2rem;
  border: none; }

textarea, input, p {
  line-height: 1.5rem; }

#mode-bar {
  width: 100%;
  background: #000;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 3rem;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  #mode-bar button {
    display: block;
    margin: 1rem; }

#extension-viewer {
  width: 47%;
  height: 95vh;
  max-width: 50rem;
  min-width: 22rem;
  flex: 1;
  margin: 0; }
  #extension-viewer #extension-btns .extension-btn {
    display: inline-block;
    margin: .5rem; }
  #extension-viewer #md-preview {
    overflow-x: hidden;
    background: #FFF;
    padding: 1rem;
    padding-bottom: 8rem;
    font-size: 1.1rem;
    height: 100%; }
    #extension-viewer #md-preview h2 {
      color: #363;
      line-height: 2.5rem; }
    #extension-viewer #md-preview li {
      margin: 0.5rem; }
    #extension-viewer #md-preview blockquote {
      background: #e1e1e1;
      font-style: italic;
      color: #333;
      padding: 1rem 1rem 1rem 2rem;
      border-left: .2rem solid #555; }
      #extension-viewer #md-preview blockquote p {
        margin: 0; }
  #extension-viewer #pdf-extension {
    height: 100%;
    width: 100%; }
    #extension-viewer #pdf-extension iframe {
      width: 100%;
      height: 100%;
      border: none; }

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%; }

table td, table th {
  border: 1px solid #ddd;
  padding: 8px; }

table tr:nth-child(even) {
  background-color: #f2f2f2; }

table tr:hover {
  background-color: #ddd; }

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009ac4;
  color: white; }

/*# sourceMappingURL=app.css.map */
