input, label {
  display: block;
}
// p {
//   white-space: pre-line;
// }
textarea {
  width: 50%;
  height: 60vh;
  white-space: pre-line;
  margin: 1rem auto;
}
button {
  display: block;
  margin: 2rem;
}