input, label {
  display: block;
}
textarea {
  width: 90%;
  height: 60vh;
  white-space: pre-line;
  margin: 1rem auto;
}
button {
  display: block;
  margin: 2rem;
}

code {
  white-space: pre-wrap;
  background: rgb(216, 216, 216);
  color: rgb(21, 21, 21);
  display: inline-block;
  font-weight: bold;
  width: 90%;
  line-height: 1rem;
  padding: 1rem;
  margin: 0;
}
code + p {
  margin: 0;
  padding: 0;
}

p code {
  padding: 1rem;
  margin: 0;
}

code p {
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  width: 100%;
  height: 99vh;
  .note {
    width: 90%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    form {
      min-width: 650px;
      width: 47%;
    }
    #md-preview {
      width: 47%;
      min-width: 600px;
      height: 90vh;
      overflow: auto;
      background: #FAFAFA;
      h2 {
        color: #363;
      }
    }
    #mode-bar {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    #table-of-contents {
      a {
        display: block;
      }
    }
  }
  #notes-dir {
    width: 9%;
    margin: 0;
    min-width: 100px;
    overflow: auto;
    background: #222;
    color: white;
    a {
      display: block;
      margin: .5rem;
      color: white;
    }
    #new-file-modal {
      position: fixed;
      left: 25%;
      width: 50%;
      z-index: 10;
      color: #000;
      background: white;
    }
  }
} 

hr {
  color: green;
  background-color: green;
  height: .2rem;
  border: none;
}