input, label {
  display: block;
}

h1 {
  color: #492;
}
textarea {
  width: 90%;
  height: 60vh;
  white-space: pre-line;
  margin: 1rem auto;
}
button {
  display: block;
  margin: 2rem;
}

code {
  white-space: pre-wrap;
  color: blue;
  background: #000;
  color: lightgreen;
  display: inline-block;
  width: 100%;
  blue {
    color: #008;
  }
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .note {
    width: 87%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    form {
      min-width: 300px;
      width: 40%;
    }
    #md-preview {
      width: 40%;
      min-width: 300px;
    }
  }
  #notes-dir {
    width: 12%;
    margin: 0;
    min-width: 100px;
    a {
      display: block;
      margin: .5rem;
    }
  }

}

div {
  border: 1px solid #000;
}